<!--
   https://getbootstrap.com/docs/5.0/forms/validation/
   https://getbootstrap.com/docs/5.0/forms/layout/
   -->
{% extends "base.html" %} {% block body %}
<div class="center">
   <h2> Login </h2>
   <form method="POST" action="{{ url_for('login_post')}}" id = "loginForm">
      <div class="row mb-3">
         <label for="username">Username</label>
         <div class="col-sm-12">
            <input type="text" class="form-control" id="username" name ="username" required>
         </div>
      </div>
      <div class="row mb-3">
         <label for="password" >Password</label>
         <div class="col-sm-12">
            <input type="password" class="form-control" id="password"  name ="password"required>
         </div>
      </div>
      <div class="col text-center">
         <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
      </div>
      <div> <a class="d-block text-center mt-2" href="{{ url_for('register') }}">Don't have an acount ? Sign up here!</a> </div>
   </form>
</div>






{% endblock %}